body {
  display: flex;
  margin-top: 50px;
  justify-content: center;
  background-color: #01172f;
}
button {
  width: 75px;
  cursor: pointer;
  box-shadow: 0px 0px 2px gray;
  border: none;
  outline: none;
  padding: 5px;
  border-radius: 5px;
  color: #f2fbe0;
  transition: 0.6s;
}

button:before, button:after{
  position: absolute;
  content: '';
  left: 0;
  top: 0;
  height: 100%;
  filter: blur(30px);
  opacity: 0.4;
  overflow: hidden;
  transition: 0.6s;
}
button:before{
  width: 10px;
  background: rgba(169, 178, 255, 0.212);
  transform: translateX(-130px) skewX(-45deg);
}
button:after{
  width: 05px;
  background: rgba(169, 178, 255, 0.212);
  transform: translateX(-130px) skewX(-45deg);
}
button:hover:before,
button:hover:after{
  opacity: 0.6;
  transform: translateX(320px) skewX(-45deg);
}
#header {
  padding: 10px;
  color: #f2fbe0;
  font-size: 26px;
  font-family: sans-serif;
  display: flex;
  justify-content: space-between;
}
#header button {
  background-color: #9d2e42;
}
#container {
  width: 770px;
}
#weekdays {
  width: 100%;
  display: flex;
  color: #a4cee8;
}
#weekdays div {
  width: 100px;
  padding: 10px;
}
#calendar {
  width: 100%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}
.day {
  width: 100px;
  padding: 10px;
  height: 100px;
  cursor: pointer;
  box-sizing: border-box;
  background-color: #f2fbe0;
  margin: 5px;
  box-shadow: 0px 0px 3px #cbd4c2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #01172f;
}
.day:hover {
  background-color: #a4cee8;
}

.day + #currentDay {
  background-color: #9d2e42;
  color: #f2fbe0;
}
.event {
  font-size: 10px;
  padding: 3px;
  background-color: #9d2e42;
  color: #f2fbe0;
  border-radius: 5px;
  max-height: 55px;
  overflow: hidden;
}
.padding {
  cursor: default !important;
  background-color: #a8ae9d !important;
  box-shadow: none !important;
}
#newEventModal,
#deleteEventModal {
  display: none;
  z-index: 20;
  padding: 25px;
  background-color: #e8f4fa;
  box-shadow: 0px 0px 3px black;
  border-radius: 5px;
  width: 350px;
  top: 100px;
  left: calc(50% - 175px);
  position: absolute;
  font-family: sans-serif;
}
#eventTitleInput {
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 25px;
  border-radius: 3px;
  outline: none;
  border: none;
  box-shadow: 0px 0px 3px gray;
}
#eventTitleInput.error {
  border: 2px solid red;
}
#cancelButton,
#deleteButton {
  background-color: #d36c6c;
}
#saveButton,
#closeButton {
  background-color: #92a1d1;
}
#eventText {
  font-size: 14px;
}
#modalBackDrop {
  display: none;
  top: 0px;
  left: 0px;
  z-index: 10;
  width: 100vw;
  height: 100vh;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
}

@media screen and (max-width: 768px) {
  #container {
    width: 350px;
  }

  #weekdays div {
    width: 100px;
    padding: 2px;
  }

  #weekdays {
    width: 350px;
    font-size: 10px;
  }

  #calendar {
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
  }

  .day {
    width: 35px;
    padding: 5px;
    height: 50px;
    margin: 2.5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #01172f;
  }
  .event {
    width: 23px;
    font-size: 7px;
  }
  
  #newEventModal,
#deleteEventModal {
  padding: 10px;
  width: 200px;
  top: 100px;
  left: calc(50% - 110px);
  position: absolute;
  font-family: sans-serif;
}
  
}
