body {
  background-color: #01172F;
  color: #fff;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center; /* Center the heading */
}

h3 {
  color: #9D2E42;
}

#datesContainer {
  border: 1px solid #fff;
  padding: 10px;
}

button {
  width: 120px;
  cursor: pointer;
  box-shadow: 0px 0px 2px gray;
  border: none;
  outline: none;
  padding: 10px;
  border-radius: 5px;
  color: #F2FBE0;
  background-color: #9D2E42;
  font-size: 16px;
  transition: background-color 0.3s ease; /* Add transition for smooth hover effect */
}

button:hover {
  background-color: #01172F; /* Darker color on hover */
}

button#backCalendar {
  float: left; /* Float the button to the left side */
}

.event {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #F2FBE0;
  color: #01172F;
}

/* Hover effect for each event */
.event:hover {
  background-color: #A4CEE8; /* Lighter background on hover */
  box-shadow: 0px 0px 5px #aaa; /* Add box shadow on hover */
}

/* Media Query for responsiveness */
@media screen and (max-width: 768px) {
  h1 {
    font-size: 20px; /* Decrease the font size on smaller screens */
  }
  
  button {
    width: 100px; /* Adjust button width on smaller screens */
    padding: 8px; /* Adjust button padding on smaller screens */
    font-size: 14px; /* Decrease the font size on smaller screens */
  }

  .event {
    font-size: 14px; /* Decrease the font size on smaller screens */
  }
}
